@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'font-awesome-4.6.3/scss/font-awesome';
@import 'skeleton';


header.container {
    padding: 2em 0;
}
.logo {
    height: 3em;
}

.intro {
    padding:6em 0 0 0;
}

.post-list {
    list-style-type: none;
}

footer.site-footer {
    margin-top: 2em;
}